.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  .field-container.option {
    width: 100%;
    margin: 0 8px;
  }
  .delete-icon-container {
    width: 30px;
    height: 30px;
  }
}
