.chat-container {
  width: 400px;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  form {
    display: flex;
  }
  .messages {
    height: calc(100% - 80px);
    overflow: hidden;
    overflow-y: scroll;

    .message-container {
      display: flex;
      align-items: center;
      background-color: #e3efff;
      padding: 8px;
      border-radius: 8px;
      width: 80%;
      margin: 16px 0;
      min-height: 40px;
      .avatar {
        position: relative;
        margin-right: 8px;
        width: 30px;
        height: 30px;
        font-size: 15px;
      }
    }
    .message-container.me {
      background-color: #c2dcff;
      margin-left: auto;
      display: flex;

      .avatar {
      }
    }
  }
}
