@import "../../mixins/vars.scss";

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $main-color;

  form {
    display: flex;
  }
  .messages {
    height: calc(100% - 80px);
    overflow: hidden;
    overflow-y: scroll;
    background: $background-accented;
    color: $text-color;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 8px;

    .message-container {
      display: flex;
      align-items: center;
      background-color: #3e4950;
      padding: 6px;
      border-radius: 8px;
      max-width: 85%;
      min-width: 70%;
      margin-bottom: 16px;
      min-height: 40px;
      font-weight: bold;
      font-size: 14px;

      .avatar {
        position: relative;
        margin-right: 8px;
      }
    }
    .message-container.me {
      background-color: #768a96;
      margin-left: auto;
      display: flex;
    }
  }
  .message-field {
    input {
      border-radius: 8px;
      background-color: $background-accented;
    }
    .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  }
  .send-btn {
    margin-left: 16px;
  }
}
