@import "../../../mixins/vars.scss";

.pool-container {
  margin-bottom: 24px;
  padding: 12px 8px;
  background-color: $accented-color;

  header {
    display: flex;
    align-items: center;

    .actions {
      display: flex;
      align-items: center;
      margin: 0 0 0 8px;
      min-height: 48px;
    }
  }

  .actions {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    .view-results-container {
      display: flex;
      justify-content: center;
    }
  }

  .field-container {
    &.title {
      input {
        font-size: 16px;
      }
    }

    &.description {
      textarea {
        font-size: 12px;
      }
    }
  }

  &.is-view {
    .field-label {
      &.title,
      &.description,
      &.options {
        display: none;
      }
    }

    .MuiOutlinedInput-notchedOutline {
      border: none;
      border-bottom: 1px solid #c4c4c4;
    }
    .option-container {
      .delete-icon-container {
        display: none;
      }
    }
    .MuiOutlinedInput-notchedOutline {
      border-color: #c4c4c4;
      border: none;
    }
    .MuiOutlinedInput-input {
      padding: 4px;
    }
  }
}
