@import "../../../mixins/vars.scss";

.pool-container {
  margin-bottom: 24px;
  padding: 8px;
  background-color: $accented-color;
  color: $text-color;

  header {
    display: flex;
    align-items: center;
    .title input {
      font-weight: bold;
    }

    .actions {
      display: flex;
      align-items: center;
      margin: 0 0 0 8px;
      min-height: 38px;
    }
  }
  .votes-count {
    margin-left: 4px;
    font-size: 12px;
  }
  .creator-name {
    text-align: right;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 8px;
    color: $disabled-color;
  }
  .actions {
    display: flex;
    margin-top: 24px;
    .view-results-container {
      display: flex;
      justify-content: center;
    }
  }

  .field-container {
    &.title {
      input {
        font-size: 16px;
      }
    }
  }

  &.is-view {
    cursor: pointer;
    input {
      cursor: pointer;
    }
    .field-label {
      display: none;
    }

    .MuiOutlinedInput-notchedOutline {
      border: none;
      border-bottom: 1px solid #c4c4c4;
    }
    .option-container {
      &:hover {
        background-color: $main-color;
      }
      .delete-icon {
        display: none;
      }
    }
    .MuiOutlinedInput-notchedOutline {
      border-color: #c4c4c4;
      border: none;
    }
    .MuiOutlinedInput-input {
      padding: 4px;
    }
  }
}
