@import "../../../mixins/vars.scss";
.participant {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  border-radius: 5px;
  transition: bottom 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    left 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    right 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  .card {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .video {
    background-color: $accented-color;
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 5px;
    object-fit: cover;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 40px;
    font-family: roboto, arial;
    color: $text-color;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  .user-info-container {
    .muted-icon {
      border-radius: 50%;
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: $text-color;
      background: $btn-color;
      padding: 6px;
      width: 28px;
      height: 28px;
    }

    .name {
      color: $text-color;
      bottom: 13px;
      position: absolute;
      left: 50px;
      text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    }
  }

  &.is-screen-presenter.is-current-user {
    &.is-current-tab-open {
      position: relative;
      .layout {
        background-color: rgba(28, 28, 28, 0.7);
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
      }
    }
    &.card {
      border: 2px solid red;
    }
  }

  @media (max-width: 800px) {
    min-height: 0px;
    .avatar {
      width: 80px;
      height: 80px;
      font-size: 50px;
    }
  }
}
