@import "../../mixins/vars.scss";
@import "./gridThemes.scss";

.participants {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fill-available;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  transition: all 0.2s ease-in-out;
  position: relative;

  .participant {
    flex-grow: 1;
    margin: 2px;
    video {
      transform: scale(-1, 1);
    }
  }
}

.participants img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
