@import "../../mixins/vars.scss";
$footer-height: 70px;

.main-screen {
  width: 100%;
  height: calc(100vh - #{$footer-height});

  background: #3c4043;
  display: flex;
  align-items: center;
  .participants {
    height: calc(100vh - #{$footer-height});
    .participant.no-video {
      order: 999;
    }
  }
}
.right-panel {
  background-color: $main-color;

  .MuiPaper-root {
    background-color: $main-color;
  }
  .chat-container,
  .pools-container {
    width: 400px;
    padding: 16px;
    height: 100%;
    .header {
      display: flex;
      align-items: center;
      .close-btn {
        margin-left: auto;
      }
    }
  }
}
.wrapper {
  width: 100%;
}

.footer {
  height: $footer-height;
}
