.main-screen {
  width: 100%;
  height: 90vh;
  background: #3c4043;
  display: flex;
  align-items: center;
}
.right-panel {
  .chat-container,
  .pools-container {
    width: 400px;
    padding: 16px;
    height: 100%;
    .header {
      display: flex;
      align-items: center;
      .close-btn {
        margin-left: auto;
      }
    }
  }
}
.wrapper {
  width: 100%;
}

.footer {
  height: 10vh;
}
