@import "../../mixins/vars.scss";

.meeting-footer {
  background: #202124;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meeting-icons {
  color: white;
  border-radius: 50%;
  background: $inactive-color;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  &.screen,
  &.chat,
  &.pools {
    background-color: $btn-color;
  }
  &.active {
    background-color: $active-color;
  }

  .notification-icon {
    position: absolute;
    top: 3px;
    right: 5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $inactive-color;
    border: 3px solid $btn-color;
  }
}

div[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
