$main-color: #1c1c1e;
$accented-color: #2b2b2d;
$border-color: #fff;
$disabled-border-color: rgb(207, 207, 207);
$disabled-background-color: #dfdfdf;
$disabled-color: #6e6e6e;
$text-color: #eeeeee;
$button-background-color: #218cf7;
$background-accented: #2b2b2d;
