@import "./mixins/vars.scss";
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: $text-color;

  .container {
    max-width: 1500px;
    margin: 0 auto;
  }

  * {
    box-sizing: border-box;
  }
  h1,
  h2,
  h3 {
    font-weight: 800;
    font-size: 20px;
    color: $text-color;
  }

  .MuiFormControl-root.field-container {
    margin-bottom: 8px;
  }
  .MuiFormLabel-root {
    margin-bottom: 4px;
    font-size: 12px;
  }
  .close-btn {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  .MuiButtonBase-root.MuiButton-root.MuiButton-text {
    background-color: $button-background-color;
    color: $text-color;
    font-weight: 600;
    font-size: 14px;
    &.Mui-disabled {
      background-color: $disabled-background-color;
      color: $disabled-color;
    }
  }
  .MuiSvgIcon-root {
    color: $text-color;
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: $border-color !important;
  }
  .MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
    border-color: $disabled-border-color !important;
  }

  input,
  textarea,
  label {
    color: $text-color;
  }
}
